body.home:not(.blog){
    position: relative;
}
/*
Welcome Section
---------------------------------------*/
.welcome-section{
	position: relative;
    background-position: center;
    background-size: cover;
    padding-bottom: 45%;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
.welcome-section img{
	width: 100%;
	height: auto;
  position: relative;
  z-index: 0;
}
.welcome-intro{
  color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	.translate(-50%, -40%);
	z-index: 2;
	text-align: center;
	width: 68%;
}

.welcome-intro .intro-line{
	.font-size(60);
    text-transform: uppercase;
	font-weight: 900;
    color: #fff;
	margin-bottom: 0.5em;
}
.welcome-intro .intro-text{
    .font-size(18);
    font-weight: normal;
    color: @gray-lighter;
    margin-bottom: 2.77777777777778em;
}





/*
Services Section
---------------------------------------*/
.services-section{
	padding: 5.5% 2% 4.5% 2%;
}
.widget_service-widget{
    margin: 0 2.3% 3%;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 65px;
}
.service .service-category{
    .rotate(-90deg);
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
    bottom: 30px;
    left: -15px;
    position: absolute;
    color: @gray-dark;
    .font-size(14);
    &::before{
        content: "";
        display: block;
        position: absolute;
        bottom: -13px;
        right: -28px;
        height: 1px;
        width: 70px;
        background-color: @heroColor;
        z-index: 1;
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -20px;
        right: -18px;
        width: 1px;
        height: 38px;
        background-color: @heroColor;
        z-index: 1;
    }
    span{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: -70px;
        .translate(0;-50%);
        height: 1px;
        width: 60px;
        background-color: @heroColor;
        z-index: 1;
    }
}

.service .service-icon{
	max-width: 100%;
	height: auto;
    margin-bottom: 1.25rem;
}
.service .service-text{
	display: inline-block;
	vertical-align: top;
    .font-size(13);
    h4{
        margin-bottom: 0.75em;
        text-transform: uppercase;
    }
    p{
        margin-bottom: 0;
    }
}
.service .service-btn{
	text-transform: uppercase;
}
.service .service-btn i{
	margin-left: 5px;
	.font-size(14);
}







/*
About Section
---------------------------------------*/
.about-section{
    padding: 5.5% 10% 5.5% 10%;
}
.about-section .about-gallery{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 5%;
}

.about-section .about-gallery .about-gallery-image{
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    position: relative;
    padding-bottom: 45%;
    margin: 2%;
    a{
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
}
.about-section .about-gallery.images_amount1 .about-gallery-image{
    width: 100%;
    padding-bottom: 65%;
}

.about-section .about-text{
    display: inline-block;
    vertical-align: top;
    width: 44%;
    margin-left: 5%;
    padding-top: 2%;
}
.about-section .about-text .about-service{
    margin-bottom: 15%;
    h4{
        text-transform: uppercase;
        margin-bottom: 1em;
        font-weight: bold;
    }
    p{
        position: relative;
        padding-left: 60px;

        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 12px;
            left: 0;
            width: 30px;
            height: 1px;
            background-color: @heroColor;
            z-index: 1;
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 37px;
            width: 1px;
            height: 15px;
            background-color: @heroColor;
            z-index: 1;
        }
    }
}



/*
Video Section
---------------------------------------*/
.video-wrap{
	display: inline-block;
    width: 50%;
    vertical-align: top;
}
.responsive-wrap{
	height: 0;
    padding-bottom: 56%;
    position: relative;
}
.responsive-wrap iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.video-text-wrap{
	width: 50%;
	display: inline-block;
	padding: 5%;
	vertical-align: top;
}
.video-text-wrap .video-text-title{
	position: relative;
	margin-bottom: 2.14285714285714em;
    text-transform: uppercase;
    font-weight: bold;

    &::after{
        position: absolute;
        content: " ";
        display: block;
        height: 1px;
        border-top: 1px solid @heroColor;
        width: 3.57142857142857em;
        left: 0;
        bottom: -0.92857142857143em;
        z-index: 0;
    }
    &::before{
        content: "";
        position: absolute;
        bottom: -1.25em;
        border: 10px solid #fff;
        border-top: none;
        border-bottom: none;
        left: 1.42857142857143em;
        width: 21px;
        height: 20px;
        .transition( all 300ms );
        background-color: @heroColor;
        z-index: 1;
    }
}
.video-text-wrap p{
	margin-bottom: 1.25em;
}

/*
Bullet Points Section
---------------------------------------*/
.bullet-points-image{
    width: 50%;
    display: inline-block;
    padding: 11% 7%;
    vertical-align: top;
    text-align: center;
    color: #fff;
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
  }
}
.bullet-points-image .bullet-points-title{
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2.32142857142857em;
    &::after{
        position: absolute;
        content: " ";
        display: block;
        height: 1px;
        border-top: 1px solid @heroColor;
        width: 4.41176470588235em;
        left: 50%;
        bottom: -0.73529411764706em;
        .translate(-50%; 0);
        z-index: 0;
    }
    &::before{
        content: "";
        position: absolute;
        bottom: -31px;
        left: 50%;
        width: 1px;
        height: 20px;
        .transition( all 300ms );
        .translate( -50%; 0);
        background-color: @heroColor;
        z-index: 1;
    }
}
.bullet-points-image{
    background-position: center;
    background-size: cover;
}
.bullet-points-image p{
    position: relative;
    z-index: 2;
    color: @gray-lighter;
    margin-bottom: 1.875em;
}
.bullet-points-image .btn-ql{
    position: relative;
    z-index: 2;
}

.bullet-points-wrap{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 5% 0;
}
.bullet-point{
    display: inline-block;
    width: 39%;
    margin: 5%;
}
.bullet-point .bullet-point-number{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 3%;
    .font-size(18);
    line-height: 18px;
    color: @gray-dark;
    text-align: center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 9px;
        left: 50%;
        .translate( -50%; -50%);
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        border: 1px solid @heroColor;
        z-index: -1;
    }
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        //.translate( -50%; 0);
        width: 25%;
        height: 1px;
        background-color: @heroColor;
    }
}
.bullet-point .bullet-point-text{
    display: inline-block;
    vertical-align: top;
    width: 65%;

    h4{
        text-transform: uppercase;
        .font-size(16);
        font-weight: bold;
    }
    div{
        .font-size(14);
        line-height: 26px;
    }
}

/*
Testimonials Section
---------------------------------------*/
.testimonials-section{
	padding: 7% 20%;
	background-position: center;
	background-size: cover;
	position: relative;
}

.testimonial{
	width: 100%;
	margin-bottom: 20px;
}
.testimonial blockquote{
	position: relative;
	z-index: 1;
	border: none;
	text-align: center;
	.font-size(24);
}
.testimonial .testimonial-cite{
	position: relative;
	z-index: 1;
	display: block;
	text-align: center;
	margin-bottom: 25px;
    color: @gray-dark;
	.font-size(18);
}
.testimonial .testimonial-cite span{
	margin-left: 10px;
    color: @gray-light;
	.font-size(14);
}




/*
Image Section
---------------------------------------*/
.image-section{
	position: relative;
	background-color: #000;
}
.image-section .image-wrap{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	display: block;
	background-position: center;
	background-size: cover;
	opacity: 0.7;
}

.image-text{
	margin-left: 50%;
	width: 50%;
	padding: 8%;
	background-color: @gray-dark;
	color: #fff;
}
.image-text .image-text-title{
	color: #fff;
	margin-bottom: 30px;
}
.image-text p{
	color: @gray-light;
	margin-bottom: 30px;
	.font-size(18);
	line-height: 1.66666666666667em;
}



/*
Clients Section
---------------------------------------*/
.clients-section{
	padding: 7% 0;
	text-align: center;
    background-position: center;
    background-size: cover;
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
      }
}
.clients-section .section-title{
    color: #fff;
    z-index: 2;
    &::before{
        display: none;
    }
}
.clients-wrap{
    z-index: 3;
    position: relative;
}


.clients-wrap .clients-logo{
	width: 10%;
	display: inline-block;
	vertical-align: middle;
	margin: 2%;
}



/*
Pricing Section
---------------------------------------*/
.pricing-section{
	padding: 5% 5% 8% 5%;
}
.pricing-table-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.pricing-section .pricing-table{
    text-align: center;
    flex: 1 auto;
    margin: 5%;
    position: relative;
    padding: 20px;
    .pricing-icon{
        margin: 0.625em;
    }
    h3{
        .font-size(18);
        text-transform: uppercase;
        margin: 1.25rem 0;
        font-weight: bold;
    }
    &.featured h3{
        color: @heroColor;
    }
    .pricing-price{
        .font-size(40);
        color: @gray;
        font-weight: bold;
        margin: 10px 0;
        display: block;
        .cd-duration{
            .font-size(16);
            font-style: italic;
        }
        .cd-duration::before {
            content: "/";
            margin-right: 2px;
        }
        .cd-currency {
            display: inline-block;
            .font-size(16);
            font-weight: 700;
            margin-top: 10px;
            vertical-align: top;
        }
    }
    &.featured .pricing-price{
        color: @heroColor;
    }
    ul{
        padding: 0;
        list-style: none;
        margin: 1.25rem 0;
        li{
            .font-size(14);
            line-height: 30px;
            margin-bottom: 5px;
            em {
                display: inline-block;
                margin-bottom: 0;
                color: #555555;
                font-style: normal;
                font-weight: bold;
            }
        }
    }
    .btn-ql{
        color: @gray-dark;
        margin: 1.25rem 0;
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: -25px;
        left: -15px;
        width: 1px;
        height: 90%;
        background-color: @heroColor;
        z-index: 1;
    }
    &.featured::before{
        width: 3px;
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: -15px;
        left: -25px;
        height: 1px;
        width: 90%;
        background-color: @heroColor;
        z-index: 1;
    }
    &.featured::after{
        height: 3px;
    }
    span.lines{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    span.lines::before{
        content: "";
        display: block;
        position: absolute;
        bottom: -25px;
        right: -15px;
        width: 1px;
        height: 90%;
        background-color: @heroColor;
        z-index: 1;
    }
    span.lines::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        right: -25px;
        height: 1px;
        width: 90%;
        background-color: @heroColor;
        z-index: 1;
    }
    &.featured span.lines::before{
        width: 3px;
    }
    &.featured span.lines::after{
        height: 3px;
    }
}



/*
Blog Section
---------------------------------------*/
.blog-section{
	padding: 5% 0;
}
.blog-wrap{
	margin-bottom: 25px;
}

.blog-wrap .blog-item{
    background-position: center;
    background-size: cover;
    position: relative;
	width: 35%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 3%;
    padding-top: 25%;
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

.blog-wrap .blog-item .blog-item-link{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    z-index: 2;
}
.blog-wrap .blog-time-date{
	display: block;
    position: relative;
	text-align: center;
	.font-size(16);
    text-transform: uppercase;
    line-height: 20px;
    width: 49px;
    margin: 0 auto;
	margin-bottom: 5px;
	color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    &::before{
        content: "";
        position: absolute;
        top: 20px;
        left: 50%;
        .translate( -50%; -50%);
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        border: 1px solid @heroColor;
        z-index: -1;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -90%;
        left: 50%;
        //.translate( -50%; 0);
        width: 1px;
        height: 80%;
        background-color: @heroColor;
    }
}
.blog-wrap .blog-item-entry{
    position: relative;
    z-index: 4;
    min-height: 9.4375rem;
}
.blog-wrap .blog-item-entry .entry-half{
    display: inline-block;
    width: 22%;
    position: relative;
    vertical-align: top;
    margin: 5% 4%;
    text-align: center;
}
.blog-wrap .blog-item-entry .entry-half2{
    display: inline-block;
    width: 61%;
    margin: 4%;
    position: relative;
    vertical-align: top;
    p{
        .font-size(13);
        font-family: serif;
        color: @gray-light2;
        text-shadow: 0 1px 0 rgba(0,0,0,0.3);
        a{
            color: @gray-light2;
        }
    }
}
.blog-wrap .blog-item-title{
	.font-size(18);
    text-transform: uppercase;
    line-height: 24px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.blog-wrap .blog-item-title a{
	color: inherit;
}



/*
Animation Overflow
---------------------------------------*/
.video-section, .quote-section, .map-section{
	overflow: hidden;
}